* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-noto: "Noto Sans Chorasmian", sans-serif;
  --color-black-400: #848b9c;
  --color-black-800: #121823;
  --color-gray-50: #f7f8f9;
  --color-gray-100: #eaecf1;
  --color-purple-800: #473191;
  --color-primary: #4340d8;
  --color-secondary: #704dd0;
  --color-star: #f37f45;
  --color-tagline: #62bfc6;
  --color-footer: #b4bcc6;
}

body {
  font-family: var(--font-noto);
  overflow-x: hidden;
  color: var(--color-black-400);
}

.section--header {
  position: relative;
  background-color: var(--color-gray-50);
  font-family: var(--font-roboto);
}
.section--hero {
  background-color: var(--color-gray-50);
}
.section--reviews {
  background-color: var(--color-gray-50);
}
.section--subscribe {
  background-color: var(--color-purple-800);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.container--header {
  background-color: var(--color-gray-50);
  position: relative;
  z-index: 100;
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  border: none;
  padding: 16px 20px;
  background-color: var(--color-primary);
  font-family: var(--font-noto);
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  border-radius: 8px;
  cursor: pointer;
}
.btn--sm {
  padding: 14px 18px;
  font-size: 16px;
}
.btn--outline {
  border: 2px solid var(--color-gray-100);
  background-color: transparent;
  color: var(--color-black-800);
}
.btn--secondary {
  background-color: var(--color-secondary);
}

/* header styling */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__img {
  width: 60px;
}
.logo__title {
  margin-left: 8px;
  font-weight: 700;
  color: var(--color-black-800);
}

#toggle-menu {
  display: none;
}

.nav--mobile {
  display: none;
}
.nav__wrapper {
  display: flex;
  list-style: none;
  column-gap: 30px;
}
.nav__item {
  font-weight: 500;
  padding: 8px;
}
.nav__item a {
  color: var(--color-black-800);
}
.nav__item:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid #121823;
}
.nav__icons {
  display: none;
  font-size: 24px;
  color: var(--color-black-800);
  cursor: pointer;
}

.hero {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
.hero__title {
  font-family: var(--font-roboto);
  font-size: 68px;
  color: var(--color-black-800);
}
.hero__content {
  margin: 36px 0 52px;
  font-family: var(--font-noto);
  font-size: 22px;
}

.top-books {
  padding: 100px 0;
}
.top-books__text {
  margin-bottom: 55px;
  text-align: center;
}
.top-books__title {
  margin-bottom: 30px;
  color: var(--color-black-800);
  font-family: var(--font-roboto);
  font-size: 54px;
  font-weight: 700;
  text-transform: capitalize;
}
.top-books__tagline {
  font-size: 22px;
}
.top-books__main-content {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 32px;
  row-gap: 68px;
}

.book__cover {
  width: 100%;
  aspect-ratio: 0.658;
  object-fit: contain;
  border-radius: 4px;
}
.book__title {
  margin-top: 8px;
  height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-black-800);
  font-size: 22px;
  font-weight: 700;
}
.book__author {
  margin: 4px 0 8px;
  font-size: 14px;
}
.book__price {
  margin-bottom: 18px;
  color: var(--color-black-800);
  font-size: 24px;
  font-weight: 700;
}

.review {
  position: relative;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review__wrapper {
  padding: 100px 0 90px;
}
.review__text {
  margin-bottom: 38px;
  color: var(--color-black-800);
  font-family: var(--font-roboto);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.review__id {
  display: flex;
  justify-content: center;
  align-items: center;
}

.id__avatar {
  margin-right: 16px;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background-color: bisque;
}
.id__name {
  color: var(--color-black-800);
  font-size: 18px;
  font-weight: 600;
}
.id__job {
  margin: 4px 0;
  color: var(--color-black-800);
  font-size: 14px;
}

.rating__container {
  display: flex;
  gap: 2px;
}
.rating__star {
  font-size: 20px;
  color: var(--color-star);
}

.company {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
}
.company__tagline {
  color: var(--color-tagline);
  font-family: var(--font-roboto);
  font-size: 18px;
  font-weight: 700;
}
.company__title {
  margin: 10px 0 16px;
  color: var(--color-black-800);
  font-family: var(--font-roboto);
  font-size: 40px;
  font-weight: 700;
}
.company__text {
  margin-bottom: 42px;
  font-size: 18px;
}
.company__text--highlight {
  color: var(--color-black-800);
}
.company__team {
  position: relative;
}

.team__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 450px;
}
.team__grid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.team__grid--upper, .team__grid--lower {
  display: flex;
  gap: 16px;
}
.team__grid--upper {
  align-items: flex-end;
}
.team__grid--lower {
  align-items: flex-start;
}
.team__img {
  border-radius: 12px;
}
.team__img--1 {
  width: 165px;
  height: 165px;
  object-fit: contain;
}
.team__img--2 {
  width: 165px;
  height: 245px;
  object-fit: contain;
}
.team__img--3 {
  width: 196px;
  height: 202px;
  object-fit: contain;
}
.team__img--4 {
  width: 165px;
  height: 245px;
  object-fit: contain;
}
.team__img--5 {
  width: 206px;
  height: 175px;
  object-fit: contain;
}

.subscribe {
  padding: 100px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe__text {
  width: 45%;
  color: white;
}
.subscribe__title {
  font-family: var(--font-roboto);
  font-size: 38px;
}
.subscribe__desc {
  margin-top: 22px;
  font-size: 18px;
}
.subscribe__form {
  display: flex;
  gap: 20px;
}
.subscribe__input {
  border: none;
  outline: none;
  width: 350px;
  height: 48px;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 18px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__menu {
  padding: 60px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.footer__extras {
  width: 100%;
  border-top: 1px solid var(--color-gray-50);
  padding: 28px 0 12px;
}

.extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.extras__copyright {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--color-footer);
  font-size: 14px;
}
.extras__social-media {
  display: flex;
  gap: 16px;
}
.extras__social-icon {
  font-size: 28px;
  color: var(--color-black-400);
}

/* breakpoints */
@media only screen and (max-width: 1279px) {
  .container {
    padding: 0 36px;
  }
  .btn {
    padding: 14px 18px;
    font-size: 16px;
  }
  .btn--sm {
    padding: 12px 18px;
  }
  .header__wrapper {
    padding: 12px 0;
  }
  .hero {
    padding: 38px 0;
  }
  .hero__title {
    font-size: 58px;
  }
  .hero__content {
    margin: 22px 0 32px;
    font-size: 18px;
  }
  .hero__img {
    width: 480px;
  }
  .company {
    padding: 80px 0;
    flex-direction: column;
    gap: 40px;
  }
  .footer__menu {
    padding: 60px 0;
    gap: 16px;
  }
}
@media only screen and (max-width: 1023px) {
  .container {
    padding: 0 24px;
  }
  .btn {
    width: 100%;
  }
  .btn--sm {
    width: auto;
  }
  .header__wrapper {
    padding: 8px 0;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__content {
    margin: 22px 0 32px;
    font-size: 16px;
  }
  .top-books__main-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 36px;
  }
  .review__wrapper {
    padding: 80px 0 70px;
  }
  .review__text {
    font-size: 30px;
  }
  .id__avatar {
    width: 54px;
    height: 54px;
  }
  .subscribe {
    padding: 85px 0 65px;
    flex-direction: column;
    gap: 40px;
  }
  .subscribe__text {
    width: auto;
  }
  .subscribe__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .subscribe__input {
    width: 100%;
  }
}
@media only screen and (max-width: 639px) {
  .container {
    padding: 0 16px;
  }
  .btn--sm {
    padding: 10px 16px;
    font-size: 14px;
  }
  .nav__icons {
    display: block;
  }
  .nav__icons #close-icon {
    display: none;
  }
  .nav--desktop {
    display: none;
  }
  .nav--mobile {
    display: block;
    height: 0;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  }
  .nav--mobile .nav__wrapper {
    background-color: var(--color-gray-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    row-gap: 6px;
    transform: translateY(-100%);
    transition: all 0.4s ease-in-out;
  }
  .nav--mobile .nav__wrapper--active {
    transform: translateY(0%);
  }
  .nav__wrapper {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column;
  }
  #toggle-menu:checked ~ .nav__icons #menu-icon {
    display: none;
  }
  #toggle-menu:checked ~ .nav__icons #close-icon {
    display: block;
  }
  .hero {
    padding: 38px 0;
    gap: 30px;
  }
  .hero__img {
    width: 300px;
  }
  .top-books {
    padding: 70px 0;
  }
  .top-books__text {
    margin-bottom: 40px;
  }
  .top-books__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .top-books__tagline {
    font-size: 16px;
  }
  .top-books__main-content {
    column-gap: 12px;
    row-gap: 26px;
  }
  .book__title {
    height: 44px;
    font-size: 16px;
  }
  .book__author {
    font-size: 12px;
  }
  .book__price {
    font-size: 16px;
  }
  .review {
    width: 100%;
  }
  .review__wrapper {
    padding: 55px 0 50px;
  }
  .review__text {
    font-size: 28px;
  }
  .company {
    padding: 55px 0;
  }
  .team__bg {
    width: 288px;
    height: 216px;
  }
  .team__grid {
    gap: 8px;
  }
  .team__grid--upper, .team__grid--lower {
    display: flex;
    gap: 8px;
  }
  .team__img--1 {
    width: 100px;
    height: 100px;
  }
  .team__img--2 {
    width: 100px;
    height: 150px;
  }
  .team__img--3 {
    width: 85px;
    height: 87px;
  }
  .team__img--4 {
    width: 100px;
    height: 150px;
  }
  .team__img--5 {
    width: 85px;
    height: 72px;
  }
  .footer__menu {
    width: 100%;
    padding: 40px 16px;
    align-items: flex-start;
  }
  .extras {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

/*# sourceMappingURL=styles.css.map */
