* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-noto: "Noto Sans Chorasmian", sans-serif;
  --color-black-400: #848b9c;
  --color-black-800: #121823;
  --color-gray-50: #f7f8f9;
  --color-primary: #4340d8;
  --color-secondary: #473191;
  --color-tagline: #62bfc6;
  --color-gray-100: #eaecf1;
  --color-footer: #b4bcc6;
}

body {
  font-family: var(--font-noto);
  overflow-x: hidden;
  color: var(--color-black-400);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  text-decoration: none;
}

/* header styling */
header {
  position: relative;
  background-color: var(--color-gray-50);
  font-family: var(--font-roboto);
}

.container--header {
  background-color: var(--color-gray-50);
  position: relative;
  z-index: 100;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  &--img {
    width: 60px;
  }
  &--title {
    margin-left: 8px;
    font-weight: 700;
    color: var(--color-black-800);
  }
}

#toggle-menu {
  display: none;
}

.nav {
  &-mobile {
    display: none;
  }
  &-wrapper {
    display: flex;
    list-style: none;
    column-gap: 30px;
  }
  &-item {
    font-weight: 500;
    padding: 8px;
    a {
      color: var(--color-black-800);
    }
    &:hover {
      margin-bottom: -1px;
      border-bottom: 1px solid #121823;
    }
  }
  &-icons {
    display: none;
    font-size: 24px;
    color: var(--color-black-800);
    cursor: pointer;
  }
}

/* breakpoints */
@media only screen and (max-width: 1279px) {
  .container {
    padding: 0 36px;
  }
  }
  .header-wrapper {
    padding: 12px 0;
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    padding: 0 24px;
  }
  }
  .header-wrapper {
    padding: 8px 0;
  }
}

@media only screen and (max-width: 639px) {
  .container {
    padding: 0 16px;
  }
  .nav {
    &-icons {
      display: block;
      #close-icon {
        display: none;
      }
    }
    &-desktop {
      display: none;
    }
    &-mobile {
      display: block;
      height: 0;
      filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
        drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    }
    &-wrapper {
      background-color: var(--color-gray-50);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 0;
      row-gap: 6px;
      transform: translateY(-100%);
      transition: all 0.4s ease-in-out;
      &--active {
        transform: translateY(0%);
      }
    }
  }

  #toggle-menu:checked {
    & ~ .nav-icons #menu-icon {
      display: none;
    }
    & ~ .nav-icons #close-icon {
      display: block;
    }
  }

}
