* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-noto: "Noto Sans Chorasmian", sans-serif;
  --color-black-400: #848b9c;
  --color-black-800: #121823;
  --color-gray-50: #f7f8f9;
  --color-gray-100: #eaecf1;
  --color-purple-800: #473191;
  --color-primary: #4340d8;
  --color-secondary: #704dd0;
  --color-star: #f37f45;
  --color-tagline: #62bfc6;
  --color-footer: #b4bcc6;
}

body {
  font-family: var(--font-noto);
  overflow-x: hidden;
  color: var(--color-black-400);
}

.section {
  &--header {
    position: relative;
    background-color: var(--color-gray-50);
    font-family: var(--font-roboto);
  }
  &--hero {
    background-color: var(--color-gray-50);
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  &--header {
    background-color: var(--color-gray-50);
    position: relative;
    z-index: 100;
  }
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  border: none;
  padding: 16px 20px;
  background-color: var(--color-primary);
  font-family: var(--font-noto);
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  border-radius: 8px;
  cursor: pointer;
  &--sm {
    padding: 14px 18px;
    font-size: 16px;
  }
}

/* header styling */
.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  &__img {
    width: 60px;
  }
  &__title {
    margin-left: 8px;
    font-weight: 700;
    color: var(--color-black-800);
  }
}

#toggle-menu {
  display: none;
}

.nav {
  &--mobile {
    display: none;
  }
  &__wrapper {
    display: flex;
    list-style: none;
    column-gap: 30px;
  }
  &__item {
    font-weight: 500;
    padding: 8px;
    a {
      color: var(--color-black-800);
    }
    &:hover {
      margin-bottom: -1px;
      border-bottom: 1px solid #121823;
    }
  }
  &__icons {
    display: none;
    font-size: 24px;
    color: var(--color-black-800);
    cursor: pointer;
  }
}

// hero styling
.hero {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  &__title {
    font-family: var(--font-roboto);
    font-size: 68px;
    color: var(--color-black-800);
  }
  &__content {
    margin: 36px 0 52px;
    font-family: var(--font-noto);
    font-size: 22px;
  }
}

// top books styling
.top-books {
  padding: 100px 0;
  &__text {
    margin-bottom: 55px;
    text-align: center;
  }
  &__title {
    margin-bottom: 30px;
    color: var(--color-black-800);
    font-family: var(--font-roboto);
    font-size: 54px;
    font-weight: 700;
    text-transform: capitalize;
  }
  &__tagline {
    font-size: 22px;
  }
  &__main-content {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: 32px;
    row-gap: 68px;
  }
}

.book {
  &__cover {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
  }
  &__title {
    margin-top: 8px;
    color: var(--color-black-800);
    font-size: 22px;
    font-weight: 700;
  }
  &__author {
    margin: 4px 0 8px;
    font-size: 14px;
  }
  &__price {
    margin-bottom: 18px;
    color: var(--color-black-800);
    font-size: 24px;
    font-weight: 700;
  }
}

/* breakpoints */
@media only screen and (max-width: 1279px) {
  .container {
    padding: 0 36px;
  }
  .btn {
    padding: 14px 18px;
    font-size: 16px;
    &--sm {
      padding: 12px 18px;
    }
  }
  .header__wrapper {
    padding: 12px 0;
  }
  .hero {
    padding: 38px 0;
    &__title {
      font-size: 58px;
    }
    &__content {
      margin: 22px 0 32px;
      font-size: 18px;
    }
    &__img {
      width: 480px;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    padding: 0 24px;
  }
  .btn {
    width: 100%;
    &--sm {
      width: auto;
    }
  }
  .header__wrapper {
    padding: 8px 0;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    &__title {
      font-size: 40px;
    }
    &__content {
      margin: 22px 0 32px;
      font-size: 16px;
    }
  }
  .top-books {
    &__main-content {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 24px;
      row-gap: 36px;
    }
  }
}

@media only screen and (max-width: 639px) {
  .container {
    padding: 0 16px;
  }
  .btn {
    &--sm {
      padding: 10px 16px;
      font-size: 14px;
    }
  }
  .nav {
    &__icons {
      display: block;
      #close-icon {
        display: none;
      }
    }
    &--desktop {
      display: none;
    }
    &--mobile {
      display: block;
      height: 0;
      filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
        drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    }
    &__wrapper {
      background-color: var(--color-gray-50);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 0;
      row-gap: 6px;
      transform: translateY(-100%);
      transition: all 0.4s ease-in-out;
      &--active {
        transform: translateY(0%);
      }
    }
  }

  #toggle-menu:checked {
    & ~ .nav__icons #menu-icon {
      display: none;
    }
    & ~ .nav__icons #close-icon {
      display: block;
    }
  }

  .hero {
    padding: 38px 0;
    gap: 30px;
    &__img {
      width: 300px;
    }
  }

  .top-books {
    padding: 70px 0;
    &__text {
      margin-bottom: 40px;
    }
    &__title {
      margin-bottom: 20px;
      font-size: 32px;
    }
    &__tagline {
      font-size: 16px;
    }
    &__main-content {
      column-gap: 12px;
      row-gap: 26px;
    }
  }

  .book {
    &__title {
      font-size: 16px;
    }
    &__author {
      font-size: 12px;
    }
    &__price {
      font-size: 16px;
    }
  }
}
